<ion-header [translucent]="true">
  <ion-toolbar class="header">
    <ion-title>
      <ion-row class="ion-justify-content-center ion-align-items-end" style="color: white;">My Requests</ion-row>
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="addRequest()">
        <ion-icon slot="icon-only" name="add" style="color: white"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-segment [(ngModel)]="segmentValue">
    <ion-segment-button value="ongoing">
      <ion-label>Ongoing</ion-label>
    </ion-segment-button>
    <ion-segment-button value="completed">
      <ion-label>Completed</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="!requestsLoaded">
    <ion-row class="ion-justify-content-center">
      <ion-spinner name="crescent"></ion-spinner>
    </ion-row>
  </div>
  
  <div *ngIf="requestsLoaded | async">
    <ion-grid *ngIf="segmentValue === 'ongoing'">
      <div *ngIf="requestService.allCurrentUserCurrentRequests.length === 0">
        <ion-row class="ion-justify-content-center">
          <ion-text>
            <ion-icon name="sad-outline" style="font-size: 100px; color: gray"></ion-icon>
          </ion-text>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-text style="color: gray">
            You have no ongoing requests.
          </ion-text>
        </ion-row>
      </div>
      <app-request-card *ngFor="let request of requestService.allCurrentUserCurrentRequests" [request]="request">
      </app-request-card>
    </ion-grid>

    <ion-grid *ngIf="segmentValue === 'completed'">
      <div *ngIf="requestService.allCurrentUserCompletedRequests.length === 0">
        <ion-row class="ion-justify-content-center">
          <ion-text>
            <ion-icon name="sad-outline" style="font-size: 100px; color: gray"></ion-icon>
          </ion-text>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-text style="color: gray">
            You have no completed requests.
          </ion-text>
        </ion-row>
      </div>
      <app-request-card *ngFor="let request of requestService.allCurrentUserCompletedRequests" [request]="request">
      </app-request-card>
    </ion-grid>
  </div>
</ion-content>