<ion-header [translucent]="true">
  <ion-toolbar class="header">
    <ion-title>
      <ion-row class="ion-justify-content-center ion-align-items-end" style="color: black;">All Requests</ion-row>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-segment [(ngModel)]="segmentValue">
    <ion-segment-button value="all">
      <ion-label>All</ion-label>
    </ion-segment-button>
    <ion-segment-button value="ongoing">
      <ion-label>Ongoing</ion-label>
    </ion-segment-button>
    <ion-segment-button value="completed">
      <ion-label>Completed</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="!requestsLoaded">
    <ion-row class="ion-justify-content-center">
      <ion-spinner name="crescent"></ion-spinner>
    </ion-row>
  </div>
  <div *ngIf="requestsLoaded | async">
    <ion-grid *ngIf="segmentValue === 'all'">
      <div *ngIf="requestService.allIncompleteRequests.length === 0">
        <ion-row class="ion-justify-content-center">
          <ion-text>
            <ion-icon name="sad-outline" style="font-size: 100px; color: gray"></ion-icon>
          </ion-text>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-text style="color: gray">
            There are no requests from other users currently.
          </ion-text>
        </ion-row>
      </div>
      <app-request-card *ngFor="let request of requestService.allIncompleteRequests" [request]="request">
      </app-request-card>
    </ion-grid>

    <ion-grid *ngIf="segmentValue === 'ongoing'">
      <div *ngIf="requestService.allOngoingAcceptedRequests.length === 0">
        <ion-row class="ion-justify-content-center">
          <ion-text>
            <ion-icon name="sad-outline" style="font-size: 100px; color: gray"></ion-icon>
          </ion-text>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-text style="color: gray">
            You are currently not fulfilling any requests.
          </ion-text>
        </ion-row>
      </div>
      <app-request-card *ngFor="let request of requestService.allOngoingAcceptedRequests" [request]="request">
      </app-request-card>
    </ion-grid>

    <ion-grid *ngIf="segmentValue === 'completed'">
      <div *ngIf="requestService.allCompletedAcceptedRequests.length === 0">
        <ion-row class="ion-justify-content-center">
          <ion-text>
            <ion-icon name="sad-outline" style="font-size: 100px; color: gray"></ion-icon>
          </ion-text>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-text style="color: gray">
            You have not completed any requests.
          </ion-text>
        </ion-row>
      </div>
      <app-request-card *ngFor="let request of requestService.allCompletedAcceptedRequests" [request]="request">
      </app-request-card>
    </ion-grid>
  </div>
</ion-content>