<ion-header [translucent]="true">
  <ion-toolbar class="header">
    <ion-title>
      <ion-row class="ion-justify-content-center ion-align-items-end" style="color: white;">Add Request</ion-row>
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close" style="color: white"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="requestForm" (ngSubmit)="createRequest()">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item class="ion-no-padding">
            <ion-label position="floating">Item Name</ion-label>
            <ion-input type="text" formControlName="itemName" (ngModelChange)="checkFormValid()"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="errorControl.itemName.errors?.required && (itemName.dirty || itemName.touched || formSubmitted)">
        <span>Item name is required.</span>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item class="ion-no-padding">
            <ion-label position="floating">Quantity (min. 1)</ion-label>
            <ion-input type="number" formControlName="quantity" (ngModelChange)="checkFormValid()"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="errorControl.quantity.errors?.required && (quantity.dirty || quantity.touched || formSubmitted)">
        <span>Quantity is required.</span>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item class="ion-no-padding">
            <ion-label position="floating">Delivery Fee (min $0.20)</ion-label>
            <ion-input type="number" formControlName="deliveryFee" (ngModelChange)="checkFormValid()"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="errorControl.deliveryFee.errors?.required && (deliveryFee.dirty || deliveryFee.touched || formSubmitted)">
        <span>Delivery Fee is required.</span>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item class="ion-no-padding">
            <ion-label>Upload an image</ion-label>
            <ion-button style="color: white; padding-left: 5px" (click)="addPhotoToGallery()">Take Photo</ion-button>
            <ion-button style="color: white; padding-left: 5px" (click)="file.click()">Upload</ion-button>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <input class="ion-hide" name="file" #file type="file" accept="image/*" (change)="preview(file.files)" />
      </ion-row>
      <ion-row *ngIf="formSubmitted && !imgURL">
        <span>Item image is required.</span>
      </ion-row>
      <ion-row style="display: flex; justify-content: center">
        <ion-img
          *ngIf="previewPic && imgURL"
          [src]="imgURL"
        ></ion-img>
        <ion-img *ngIf="photoService.photos" [src]="photoService.photos.webviewPath"></ion-img>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item class="ion-no-padding">
            <ion-label position="floating">Purchase Location</ion-label>
            <ion-input type="text" formControlName="location" (ngModelChange)="checkFormValid()"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="errorControl.location.errors?.required && (location.dirty || location.touched || formSubmitted)">
        <span>Location is required.</span>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item class="ion-no-padding">
            <ion-label position="floating">Description</ion-label>
            <ion-textarea rows="5" placeholder="Enter additional details here, such as delivery/meetup location"
            formControlName="description" (ngModelChange)="checkFormValid()">
            </ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="errorControl.description.errors?.required && (description.dirty || description.touched || formSubmitted)">
        <span>Description is required.</span>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>

<ion-footer>
  <ion-row class="ion-justify-content-center">
    <ion-button (click)="createRequest()" [class.button-disabled]="loading">Submit
      <ion-spinner name="crescent" *ngIf="loading"></ion-spinner>
    </ion-button>
  </ion-row>
</ion-footer>